/* Main section */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: clamp(14px, 2vw, 16px);
}

main {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  position: relative;
}

/* Common section */
div {
  border-radius: 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar section */
nav {
  width: 100%;
  height: 100px;
  border-bottom: solid 2px rgba(0, 0, 0, 0.204);
  background-color: rgba(255, 255, 255, 0.955);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

nav h1 {
  color: rgb(13, 191, 131);
  padding-left: 10px;
}
nav .logo{
  color: rgb(13, 191, 131);
  padding-right: 10px;
}

/* Row1 section */
.row1 {
  width: 90%;
  background-image: url('./assets/Image/forexChart.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px 50px;
  margin-top: 100px;
  justify-content: space-around;
  border-radius: 8px;
}

.row1 .One-row1 {
  color: white;
}

.row1 .One-row1 p {
  background-color: rgb(46, 130, 204);
}

.row1 .Two-row1 {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
  align-items: center;
  
  
}

.row1 .Two-row1 .box1 {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.row1 .Two-row1 .box1 .p1 {
  margin: 5px;
  background-color: aliceblue;
  display: inline;
  width: 200px;
}

.row1 .Two-row1 .box1 .p2 {
  margin: 5px;
  background-color: aliceblue;
  display: inline-block;
  width: 200px;
}

.row1 .Two-row1 .box1 .p3 {
  margin: 5px;
  background-color: aliceblue;
  display: inline;
  width: 200px;
}

.row1 .Two-row1 .box2 {
  display: flex;
  align-items: center;
  gap: 30px;
}


.row1 .Two-row1 .box2 form {
  width: 240px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
}

.row1 .Two-row1 .box2 form .headline {
  color: rgb(250, 142, 0);
  padding: 10px;
  font-size: clamp(12px, 2vw, 16px);
}

.row1 .Two-row1 .box2 form .form-entry input[type="text"],
.row1 .Two-row1 .box2 form .form-entry input[type="email"] {
  border-radius: 20px;
  display: block;
  padding: 4px;
  width: 90%;
  border: solid 2px rgba(0, 0, 0, 0.373);
}

.row1 .Two-row1 .box2 form .form-entry input:hover {
  background-color: rgb(245, 239, 239);
}

.row1 .Two-row1 .box2 form .form-entry button {
  background-color: rgb(143, 143, 231);
  padding: 4px;
  border: 0;
  border-radius: 7px;
  margin-top: 10px;
  color: white;
  font-size: clamp(12px, 2vw, 14px);
}

.row1 .Two-row1 .box2 form .form-entry button:hover {
  color: rgb(238, 212, 212);
}

/* Row2 section */
.row2 {
  width: 90%;
  background-color: rgb(194, 191, 191);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  border-radius: 8px;
}

.row2 .One-row2 h2 {
  background-color: rgb(108, 206, 245);
  color: white;
  width: 130px;
  border-radius: 10px;
  margin: 10px 0 0 130px;
}

.row2 .One-row2 p {
  padding: 15px 5px;
}

.row2 .Two-row2 {
  width: 80%;
  height: 20vh;
  border: solid 2px rgb(224, 234, 207);
  background-image: url('./assets/Image/forexChart.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
}

.row2 .Three-row2 {
  width: 99%;
  height: 220px;
  background-color: aliceblue;
  margin: 3px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: clamp(13.5px, 2vw, 16px);
  border-radius: 8px;
}

.row2 .Three-row2 h4 {
  background-color: rgb(108, 206, 245);
  margin-top: 5px;
  border-radius: 5px;
  width: 70%;
  text-align: center;
  color: white;
  height: 20px;
  font-size: clamp(13.5px, 2vw, 16px);
}

.row2 .Three-row2 .p-container {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 5px;
}

.row2 .Three-row2 .p5 {
  background-color: rgb(65, 198, 250);
  margin-bottom: 5px;
  border-radius: 5px;
  width: 58%;
  height: 20px;
  text-align: center;
  color: white;
  font-size: clamp(12px, 2vw, 16px);
}

/* Row3 section */

.row3 {
  width: 90%;
  height: 500px;  
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row3 .Two-row3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  border: solid 2px black;
}

.row3 .Two-row3 div {
  background-color: rgb(252, 251, 251);
  width: 50%;
  height: 150px;
  border-radius: 20px;
  
  
}

.row3 .Two-row3 .secret1{
  padding: 10px;
}

.row3 .Two-row3 .secret2{
  padding: 10px;
}

.row3 .Two-row3 .secret3{
  padding: 10px;
}
/* Row4 section */
.row4 {
  width: 90%;
  border: solid black 2px;
}
.row4 .heading{
  color: aqua;
}

/* Row5 section */
.row5 {
  width: 90%;
  height: 500px;
  background-color: rgb(177, 189, 212);
  border-radius: 8px;
}

/* Media query section */

/* for mobile phones */
@media only screen and (max-width: 743px) {
  .row1 .Two-row1 .box2 form {
    width: 220px;
  }

  .row2 {
    width: 94%;
  }
}

/* for pc */
@media only screen and (min-width: 1128px) {
  .row1 {
    width: 70%;
    height: 1000px;
    justify-content: flex-start;
  }

  .row1 .Two-row1 {
    margin-left: auto;
    margin-top: 200px;
  }

  .row2,
  .row3,
  .row4,
  .row5 {
    width: 70%;
  }
}
