/* Main section */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: clamp(14px, 2vw, 16px);
}

main {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  position: relative;
}

/* Common section */
div {
  border-radius: 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar section */
nav {
  width: 100%;
  height: 100px;
  border-bottom: solid 2px rgba(0, 0, 0, 0.204);
  background-color: rgba(255, 255, 255, 0.955);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

nav h1 {
  color: rgb(13, 191, 131);
  padding-left: 10px;
}
nav .logo{
  color: rgb(13, 191, 131);
  padding-right: 10px;
}

/* Row1 section */
.row1 {
  width: 90%;
  background-image: url('./assets/Image/forexChart.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px 50px;
  margin-top: 100px;
  justify-content: space-around;
  border-radius: 8px;
}

.row1 .One-row1 {
  color: white;
}

.row1 .One-row1 p {
  background-color: rgb(46, 130, 204);
}

.row1 .Two-row1 {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
  align-items: center;
  
  
}

.row1 .Two-row1 .box1 {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.row1 .Two-row1 .box1 .p1 {
  margin: 5px;
  background-color: aliceblue;
  display: inline;
  width: 200px;
}

.row1 .Two-row1 .box1 .p2 {
  margin: 5px;
  background-color: aliceblue;
  display: inline-block;
  width: 200px;
}

.row1 .Two-row1 .box1 .p3 {
  margin: 5px;
  background-color: aliceblue;
  display: inline;
  width: 200px;
}

.row1 .Two-row1 .box2 {
  display: flex;
  align-items: center;
  gap: 30px;
}


.row1 .Two-row1 .box2 form {
  width: 240px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
}

.row1 .Two-row1 .box2 form .headline {
  color: rgb(250, 142, 0);
  padding: 10px;
  font-size: clamp(12px, 2vw, 16px);
}

.row1 .Two-row1 .box2 form .form-entry input[type="Name"],
.row1 .Two-row1 .box2 form .form-entry input[type="email"] {
  border-radius: 20px;
  display: block;
  padding: 4px;
  width: 90%;
  border: solid 2px rgba(0, 0, 0, 0.373);
}

.row1 .Two-row1 .box2 form .form-entry input:hover {
  background-color: rgb(245, 239, 239);
}

.row1 .Two-row1 .box2 form .form-entry button {
  background-color: rgb(143, 143, 231);
  padding: 4px;
  border: 0;
  border-radius: 7px;
  margin-top: 10px;
  color: white;
  font-size: clamp(12px, 2vw, 14px);
}

.row1 .Two-row1 .box2 form .form-entry button:hover {
  color: rgb(238, 212, 212);
}

/* Row2 section */
.row2 {
  width: 90%;
  background-color: rgb(194, 191, 191);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  border-radius: 8px;
}

.row2 .One-row2 h2 {
  background-color: rgb(108, 206, 245);
  color: white;
  width: 130px;
  border-radius: 10px;
  margin: 10px 0 0 130px;
}

.row2 .One-row2 p {
  padding: 15px 5px;
}

.row2 .Two-row2 {
  width: 80%;
  height: 60vh;
  background-image: url('./assets/Image/forexChart.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
}

.row2 .Three-row2 {
  width: 99%;
  height: 220px;
  background-color: aliceblue;
  margin: 3px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: clamp(13.5px, 2vw, 16px);
  border-radius: 8px;
}

.row2 .Three-row2 h4 {
  background-color: rgb(108, 206, 245);
  margin-top: 5px;
  border-radius: 5px;
  width: 70%;
  text-align: center;
  color: white;
  height: 20px;
  font-size: clamp(13.5px, 2vw, 16px);
}

.row2 .Three-row2 .p-container {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 5px;
}

.row2 .Three-row2 .p5 {
  background-color: rgb(65, 198, 250);
  margin-bottom: 5px;
  border-radius: 5px;
  width: 58%;
  height: 20px;
  text-align: center;
  color: white;
  font-size: clamp(12px, 2vw, 16px);
}

/* Row3 section */

.row3 {
  width: 90%;  
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.row3 .One-row3{
  margin-top: 20px;
}
.row3 .One-row3 h4{
   color: rgb(108, 206, 245);
   margin-left: 70px;
   margin-bottom: 10px;
}

.row3 .Two-row3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center; 
}


.row3 .Two-row3 div {
  background-color: rgb(252, 251, 251);
  width: 50%;
  height: 150px;
  border-radius: 20px;
  
}

.row3 .Two-row3 .secret1{
  padding: 10px;
}

.row3 .Two-row3 .secret2{
  padding: 10px;
}

.row3 .Two-row3 .secret3{
  padding: 10px;
}
/* Row4 section */
.row4 {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(212, 207, 207, 0.727);
  border-radius: 10px;
}

.row4 p{
  margin: 20px;
  color: rgb(93, 15, 15);
}
.row4 div{
  background-color: aqua;
  height: 400px;
  width: 200px;
  margin: 20px;
}


/* Row5 section */
.row5 {
  width: 90%;
  height: 700px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.row5 h3{
  color: rgb(41, 217, 236);

}

.row5 .Student-container{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;

}


.row5 .Student-container .Student1{
  background-color: yellowgreen;
  width: 80%;
  height: 140px;
  margin: 5px;
  border-radius: 10px;
}
.row5 .Student-container .Student2{
  background-color: yellowgreen;
  width: 80%;
  height: 140px;
  margin: 5px;
  border-radius: 10px;
}
.row5 .Student-container .Student3{
  background-color: yellowgreen;
  width: 80%;
  height: 140px;
  margin: 5px;
  border-radius: 10px;
}

/* .row5 .Student-container .Student3 p3{
  

} */

.row5 .Student-container .Student4{
  background-color: yellowgreen;
  width: 80%;
  height: 140px;
  margin: 5px;
   border-radius: 10px;
}
.row5 .Student-container p{
  background-color: aliceblue;
  width: 75%;
  height: 117px;
  margin-left: 40px;
  margin-top: 10px;
  border-radius: 10px;
  padding: 5px;
  
}

.row5 .outter-p{
  background-color:rgb(41, 217, 236);
  border-radius: 10px;
  padding: 2px;
  font-size: 0.9em;

}
.row5 .outter-p:hover{
  color:rgb(41, 217, 236);
  background-color: black;
  /* font-size: 1em; */
}




/* Media query section */

/* for mobile phones */
/* @media only screen and (max-width: 743px) {
  .row1 .Two-row1 .box2 form {
    width: 220px;
  }

  .row2 {
    width: 94%;
  }
} */

/* for pc */
@media only screen and (min-width: 1050px) {
  .row1 {
    width: 70%;
    height: 1000px;
    justify-content: flex-start;
  }

  .row1 .Two-row1 {
    margin-left: auto;
    margin-top: 200px;
  }

  .row2 .Two-row2 {
  width: 80%;
  height: 65vh;
  border-radius: 8px;
  }

  .row2,
  .row3,
  .row4{
    width: 70%;
  }

  .row5{
    width: 90%;
    margin-left: 44px;
  }
  
  .row3 {
    align-items: center;
  }

  .row3 .One-row3 h4{
   margin-left: 140px;
   
  }

  .row3 .Two-row3 {
  flex-direction: row; 
  gap: 10px;
  }

  .row5 {
    height: 450px;
  }

.row5 .Student-container{
   flex-direction: row;
   flex-wrap: wrap;
   gap: 10px;
   margin-bottom: 20px;
  }

.row5 .Student-container .Student1,
.row5 .Student-container .Student2,
.row5 .Student-container .Student3,
.row5 .Student-container .Student4{
  width: 47%;
}


}
